body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #0278b7, #77bef4);
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    border: 2px solid black;
    background: #efefef;
    color: black;
    padding: 100px;
    border-radius: 16px;
}

h1{
    margin: 0;
    color: black;
    font-family: "Sofia", cursive;
    font-weight: 400;
    font-size: 42px;
}

p{
    font-size: 36px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    text-align: center;
}


@media screen and (max-width: 722px) {
    main{
        width: 40%;
        height: 40%;
        padding: 60px;
    }   

    h1{
        font-size: 32px;
    }

    p{
        margin-top: 30px;
        font-size: 28px;
    }

}

@media screen and (max-width: 472px) {

    main{
        height: 30%;
    }

    h1{
        font-size: 24px;
    }

    p{
        font-size: 20px;
    }
}

@media screen and (max-width: 350px) {

    main{
        width: 30%;
    }

    h1{
        font-size: 18px;
    }

    p{
        font-size: 16px;
    }
}
